/* Global */

$color-main: #f7f1e3;
$color-button: #ffb142;
$primary-font-stack: 'Skranji', 'Griffy';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.7;
  font-family: $primary-font-stack;
}

section {
  padding: 108px 0;
}

/* Navbar */

.brand {
  color: $color-button;
  font-family: 'Griffy';
}
